# chapter 3 || Assignment two 


## MyProfile

   ####  ``Name`` : Abdikafi Isse Isak
   #### ``ID`` : C120868
   #### ``ClassNo`` : CA205

# Movies.csv File

as you know we have ``movies.csv`` file, this movie files contains a lot of movies columns  name like  ``industry``, ``rating``, ``release_year``,  ``studio``, ``budget`` as expense, ``revenue``, ``unit``, ``currency``, ``language``.
``industry`` column indicates the company name that produce of the  movies, the ``title`` column indicates the name of the movies, the  ``release_year`` column indicates the year released of the movies,
the ``imdb_rating`` column indicates the rate of the every movie gets,
the ``studio`` column indicates the studio released after produce the movies the ``budget`` column iindicates the expense takes of every movie,the ``revenue`` column indicates the revenue gets of every movie,the ``unit`` column indicates the currency unit gets of every movie like    thousands , millions and so on,
the ``currency`` column indicates the currency type gets of every movie,
the ``langauge`` column indicates the language translate of every movies or the original language released of every movies

In [4]:
import pandas as pd
movies_data = pd.read_csv('./movies.csv')

movies_data.head(10)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English
5,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,English
6,Interstellar,Hollywood,2014,8.6,Warner Bros. Pictures,165.0,701.8,Millions,USD,English
7,The Pursuit of Happyness,Hollywood,2006,8.0,Columbia Pictures,55.0,307.1,Millions,USD,English
8,Gladiator,Hollywood,2000,8.5,Universal Pictures,103.0,460.5,Millions,USD,English
9,Titanic,Hollywood,1997,7.9,Paramount Pictures,200.0,2202.0,Millions,USD,English

This line of code displays the first 10 rows of the movies_data DataFrame using the ``head()`` function. By default, ``head()`` shows the first ``5 rows``, but you can specify the number of rows to display within the parentheses, as shown here.

In [6]:
movies_data.describe()

       release_year  imdb_rating        budget        revenue
count     37.000000    36.000000     37.000000      37.000000
mean    2007.027027     7.919444   2084.975135    4117.135135
std       17.657995     1.204947  11477.487145   16372.462682
min     1946.000000     1.900000      1.000000       3.100000
25%     2001.000000     7.800000     15.500000     263.100000
50%     2014.000000     8.100000    165.000000     701.800000
75%     2018.000000     8.400000    250.000000    2000.000000
max     2022.000000     9.300000  70000.000000  100000.000000

This line of code calls the ``describe()`` function on the ``movies_data`` DataFrame. The ``describe()`` function is a powerful method provided by pandas that generates descriptive statistics of the numerical columns in the DataFrame.
When you execute this code, it will display various statistical measures for each numerical column in the movies_data DataFrame. These measures include count, ``mean``, ``standard deviation``, ``minimum value``, ``25th percentile`` (lower quartile), ``median`` ``(50th percentile)``, ``75th percentile`` ``(upper quartile)``, and ``maximum`` value.
The ``describe()`` function is useful for gaining insights into the distribution and summary statistics of your data. It helps you understand the range, central tendency, and spread of your numerical variables.

In [7]:
mean_rating_movies = movies_data['imdb_rating'].mean()

print(f'The Mean Rating Movies : ${mean_rating_movies}')

The Mean Rating Movies : $7.919444444444445

This line of code calculates the mean rating of movies by accessing the ``imdb_rating`` column from the ``movies_data`` DataFrame using square brackets ([]) and then applying the ``mean()`` function to that column. The result is stored in the variable mean_rating_movies.
This line of code displays the mean rating of movies by using the ``print()`` function. It uses an f-string (formatted string literal) to embed the value of the mean_rating_movies variable within the string. The output will be a formatted message that states the `mean` rating of movies.
By executing this code, you will obtain the mean rating of movies based on the values in the ``imdb_rating`` column of the movies_data DataFrame. The mean rating provides a measure of the average rating for all the movies in the dataset. It helps in understanding the central tendency or average opinion of the movies' ``ratings``.

In [9]:
mode_rating_movies = movies_data['imdb_rating'].mode().values[0]
print (f'The Mode Rating Movies : ${mode_rating_movies}')

The Mode Rating Movies : $8.4

This line of code calculates the mode rating of movies by accessing the `imdb_rating` column from the `movies_data` DataFrame using square brackets ([]). The mode() function is then applied to that column to find the `mode` value(s). Since there can be multiple modes, the values attribute is used to retrieve the values as an array, and [0] is used to select the first mode value. The result is stored in the variable mode_rating_movies.
This line of code displays the mode rating of movies by using the `print()` function. It uses an f-string (formatted string literal) to embed the value of the mode_rating_movies variable within the string. The output will be a formatted message that states the mode rating of movies.
By executing this code, you will obtain the mode rating of movies based on the values in the `imdb_rating` column of the `movies_data` DataFrame. The mode rating represents the most frequently occurring rating value in the dataset. It provides insights into the rating that is commonly assigned to movies.

In [11]:
median_rating_movies = movies_data['imdb_rating'].median()
print(f'The Median Rating Movies : ${median_rating_movies}')

The Median Rating Movies : $8.1

This line of code calculates the median rating of movies by accessing the `imdb_rating` column from the `movies_data` DataFrame using square brackets ([]). The median() function is then applied to that column to find the` median` value. The result is stored in the variable `median_rating_movies`.
This line of code displays the `median rating` of movies by using the `print()` function. It uses an f-string (formatted string literal) to embed the value of the `median_rating_movies` variable within the string. The output will be a formatted message that states the median rating of movies.
By executing this code, you will obtain the median rating of movies based on the values in the `imdb_rating` column of the `movies_data` DataFrame. The median rating represents the middle value when the ratings are sorted in ascending order. It provides a measure of the central tendency and is less affected by outliers compared to the mean rating.

In [12]:
std_rating_movies = movies_data['imdb_rating'].std()
print(f'The Standard Deviation Rating Movies : ${std_rating_movies}')

The Standard Deviation Rating Movies : $1.2049468143436146

This line of code calculates the `standard deviation` of movie `ratings` by accessing the `imdb_rating` column from the `movies_data` DataFrame using square brackets ([]). The std() function is then applied to that column to compute the `standard deviation`. The result is stored in the variable `std_rating_movies`.
This line of code displays the `standard deviation` of movie ratings by using the print() function. It uses an f-string (formatted string literal) to embed the value of the `std_rating_movies` variable within the string. The output will be a formatted message that states the `standard deviation of movie ratings`.
By executing this code, you will obtain the standard deviation of movie ratings based on the values in the `imdb_rating` column of the movies_data DataFrame. The `standard deviation` is a measure of the dispersion or spread of the ratings around the mean rating. It quantifies the amount of `variation` or `deviation` from the average `rating`.
The `standard deviation` is useful for understanding the variability or consistency of movie ratings. A higher `standard deviation `indicates a wider spread of ratings, implying more diverse opinions or preferences among viewers. Conversely, a lower standard deviation suggests a narrower range of `ratings`, indicating a more consistent consensus among viewers.

In [13]:
var_rating_movies = movies_data['imdb_rating'].var()

print(f'The Variance Rating Movies : ${var_rating_movies}')

The Variance Rating Movies : $1.4518968253968252

This line of code calculates the variance of movie ratings by accessing the `imdb_rating` column from the `movies_data` DataFrame using square brackets ([]). The var() function is then applied to that column to compute the `variance`. The result is stored in the variable `var_rating_movies`.
This line of code displays the variance of movie ratings by using the `print()` function. It uses an f-string (formatted string literal) to embed the value of the `var_rating_movies` variable within the string. The output will be a formatted message that states the variance of movie ratings.
By executing this code, you will obtain the variance of movie ratings based on the values in the `imdb_rating` column of the movies_data DataFrame. The variance is a measure of the variability or spread of the ratings. It quantifies the average squared deviation from the mean rating.
The `variance` is useful for understanding the extent of variation in movie `ratings`. A higher variance indicates a wider spread of ratings, implying more diverse opinions or preferences among viewers. Conversely, a lower variance suggests a narrower range of ratings, indicating a more consistent consensus among viewers.

In [14]:
range_rating_movies = movies_data['imdb_rating'].max()-movies_data['imdb_rating'].min()

print(f'The Range Rating Movies : ${var_rating_movies}')

The Range Rating Movies : $1.4518968253968252

This line of code calculates the range of movie ratings by subtracting the` minimum rating` (min()) from the `maximum rating` (max()) of the 'imdb_rating' column in the movies_data DataFrame. The result is stored in the variable range_rating_movies.
This line of code displays the range of movie ratings by using the `print()` function. It uses an f-string (formatted string literal) to embed the value of the range_rating_movies variable within the string. The output will be a formatted message that states the range of movie ratings.
By executing this code, you will obtain the range of movie ratings based on the values in the `imdb_rating` column of the `movies_data` DataFrame. The range represents the difference between the highest and lowest ratings in the dataset.
The range is useful for understanding the spread or extent of movie ratings. It provides a simple measure of the overall variability in ratings. A larger range suggests a wider distribution of ratings, indicating a greater diversity of opinions or preferences among viewers. Conversely, `a smaller range indicates a narrower spread of ratings`, implying a more limited range of opinions or preferences.

In [16]:
movies_data['profit'] = movies_data['budget'] - movies_data['revenue']

movies_data['profit'].abs()

movies_data.head(10)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,profit
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,-30000.0
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,-754.8
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,-479.8
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,-674.0
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English,-420.0
5,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,English,-48.3
6,Interstellar,Hollywood,2014,8.6,Warner Bros. Pictures,165.0,701.8,Millions,USD,English,-536.8
7,The Pursuit of Happyness,Hollywood,2006,8.0,Columbia Pictures,55.0,307.1,Millions,USD,English,-252.1
8,Gladiator,Hollywood,2000,8.5,Universal Pictures,103.0,460.5,Millions,USD,English,-357.5
9,Titanic,Hollywood,1997,7.9,Paramount Pictures,200.0,2202.0,Millions,USD,English,-2002.0

 This line of code creates a new column called `profit` in the `movies_data` DataFrame. The values in this column are calculated by subtracting the 'revenue' column from the 'budget' column, indicating the profit or loss for each movie. The resulting values are assigned to the `profit` column. 
 `movies_data['profit'].abs()`
This line of code takes the absolute value of the `profit` column in the `movies_data` DataFrame. The abs() function is applied to the `profit` column, ensuring that all profit values are `positive`. This step might be useful if you want to focus on the magnitude of profit rather than distinguishing between `profit and loss`.

In [18]:
industry_data_movies = movies_data['industry'].value_counts()

industry_data_movies

Hollywood    20
Bollywood    17
Name: industry, dtype: int64

`industry_data_movies = movies_data['industry'].value_counts()`
This line of code calculates the count of movies in each industry category from the `industry` column in the `movies_data` DataFrame. The `value_counts()` function is applied to the `industry` column, which returns a `Series` object with the unique industry categories as the index and the corresponding counts as the values. The resulting Series is stored in the variable `industry_data_movies.`

In [19]:
data_units = movies_data['unit'].unique()

data_units

array(['Thousands', 'Millions', 'Billions'], dtype=object)

`data_units = movies_data['unit'].unique()`
This line of code accesses the `unit` column from the movies_data DataFrame and applies the `unique()` function to it. The unique() function returns an array or list of all the unique values present in the `unit` column. The resulting array is stored in the `variable data_units`.

In [20]:
movie_max_salary_index = movies_data['profit'].idxmax()

movie_max_salary_index

movie_max_salary = movies_data.loc[movie_max_salary_index]

movie_max_salary

title           It's a Wonderful Life
industry                    Hollywood
release_year                     1946
imdb_rating                       8.6
studio                  Liberty Films
budget                           3.18
revenue                           3.3
unit                         Millions
currency                          USD
language                      English
profit                          -0.12
Name: 10, dtype: object

`movie_max_salary_index = movies_data['profit'].idxmax()`
This line of code finds the index of the movie with the `maximum profit` in the `movies_data` DataFrame. It does this by accessing the `profit` column of the DataFrame and using the `idxmax()` function to return the index corresponding to the maximum value in that column. The resulting index is stored in the variable `movie_max_salary_index`.

In [21]:
movie_profit = movies_data['profit']
quartiles = movie_profit.quantile([0.25, 0.5, 0.75])

# Access individual quartiles
q1 = quartiles.loc[0.25]

q2 = quartiles.loc[0.5]

q3 = quartiles.loc[0.75]

print("Q1:", abs(q1))

print("Q2:", abs(q2))

print("Q3:", abs(q3))

Q1: 1600.0
Q2: 479.79999999999995
Q3: 153.90000000000003