# student performance assignment
### solved by
   `Name : ` Abdikafi Isse Isak ( `miirshe` )

In [1]:
import pandas as pd

In [2]:
# 1.o	reading data
student_dataset = pd.read_csv('./StudentsPerformance.csv')

In [3]:
student_dataset

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [4]:
# 2.o	shape of data
student_dataset.shape

(1000, 8)

In [5]:
# 3.o	type of data
type(student_dataset)

pandas.core.frame.DataFrame

In [9]:
# 4.o	data types of columns
type(student_dataset.columns)

pandas.core.indexes.base.Index

In [10]:
# 5.o	column name
student_dataset.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [11]:
student_dataset.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [22]:
# 6.	Mean: Calculate the average score for each subject to understand the overall performance.
mean_math_score = student_dataset['math score']

In [23]:
# continue
mean_math_score.sum()/len(mean_math_score)

66.089

In [24]:
# continue
mean_reading_score = student_dataset['reading score']

In [25]:
# continue
mean_reading_score.sum()/len(mean_reading_score)

69.169

In [26]:
# continue
mean_writing_score = student_dataset['writing score']

In [27]:
# continue
mean_writing_score.sum()/len(mean_writing_score)

68.054

In [28]:
# 7•	Median: Find the middle value of the scores to determine the central tendency, which is less affected by extreme values.
median_math_score = student_dataset['math score']

In [29]:
# continue
len(median_math_score)+1/2

1000.5

In [30]:
# continue
median_reading_score = student_dataset['reading score']

In [31]:
# continue
len(median_reading_score)+1/2

1000.5

In [32]:
# continue
median_writing_score = student_dataset['writing score']

In [33]:
# continue
len(median_writing_score)+1/2

1000.5

In [37]:
# 8.•	Mode: Identify the most frequently occurring score to observe any dominant performance level.
mode_student_dataset = student_dataset.mode()

In [38]:
# continue
mode_student_dataset

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some college,standard,none,65,72,74

In [49]:
#9.•	Range: Calculate the difference between the highest and lowest scores to understand the spread of the data.
# first we find max score
max_math_scores = student_dataset['math score'].max()

In [50]:
# and also we find min score
min_math_scores = student_dataset['math score'].min()

In [55]:
# and then range dispersion formula is range = max -min
range_math_scores = max_math_scores - min_math_scores

In [56]:
range_math_scores

100

In [57]:
#9.•	Range: Calculate the difference between the highest and lowest scores to understand the spread of the data.
# first we find max score
max_reading_scores = student_dataset['reading score'].max()

In [58]:
# and also we find min score
min_reading_scores = student_dataset['reading score'].min()

In [59]:
# and then range dispersion formula is range = max -min
range_reading_scores = max_reading_scores - min_reading_scores

In [60]:
range_reading_scores

83

In [61]:
#9.•	Range: Calculate the difference between the highest and lowest scores to understand the spread of the data.
# first we find max score
max_writing_scores = student_dataset['writing score'].max()

In [62]:
# and also we find min score
min_writing_scores = student_dataset['writing score'].min()

In [63]:
# and then range dispersion formula is range = max -min
range_writing_scores = max_writing_scores - min_writing_scores

In [64]:
range_writing_scores

90

In [65]:
# 10.•	Standard Deviation: Measure the dispersion or variability of scores around the mean, 
# indicating how much the scores deviate from the average.

std_math_scores = student_dataset['math score'].std()

In [66]:
std_math_scores

15.163080096009468

In [67]:
# continue
std_reading_scores = student_dataset['reading score'].std()

In [68]:
# continue
std_reading_scores

14.60019193725222

In [69]:
# continue
std_writing_scores = student_dataset['writing score'].std()

In [70]:
std_writing_scores

15.195657010869642

In [89]:
# continue
math_score = student_dataset['math score']

In [90]:
# 11 •	Quartiles: Calculate the lower quartile (25th percentile) and upper quartile (75th percentile) to 
# understand the distribution and identify any outliers.

quartile_math_score = math_score.quantile([0.25,0.5,0.75])

In [95]:
# continue find lower quartile 
q1 = quartile_math_score.loc[0.25]

In [96]:
q1

57.0

In [97]:
# continue find second quartile 
q2 = quartile_math_score.loc[0.5]

In [98]:
q2

66.0

In [99]:
# continue find third or upper quartile 
q3 = quartile_math_score.loc[0.75]

In [100]:
q3

77.0

In [101]:
# continue find  interquartile formuala IQT = q3 - q1
iqt = q3 - q1

In [102]:
iqt

20.0

In [103]:
# continue lower outlier gate formula lower outlier = q1 - 1.5 * iqt
lower_outlier_gate = q1-1.5*iqt

In [104]:
lower_outlier_gate

27.0

In [105]:
# continue upper outlier gate formula upper outlier = q3 + 1.5 * iqt
upper_outlier_gate = q3+1.5*iqt

In [106]:
upper_outlier_gate

107.0

In [107]:
# 12-	handling missing values
student_dataset.isnull().sum().sum()

0

In [112]:
# 13-	 first we find can either duplicate value or not
student_dataset.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [114]:
# handling duplicates
student_dataset.drop_duplicates()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [115]:
# 14-	Calculate the average math score of all students.
math_score = student_dataset['math score']

In [116]:
# continue
total_math_score = math_score.sum()

In [117]:
# continue
avg_math_score = total_math_score/len(math_score)

In [118]:
# continue
avg_math_score

66.089

In [128]:
# 15-	Find the highest reading score among male students.
male_students = student_dataset[ student_dataset['gender'] == 'male']

In [131]:
# continue
highest_avg_male_student = male_students.max()

In [132]:
# continue
highest_avg_male_student

gender                                     male
race/ethnicity                          group E
parental level of education    some high school
lunch                                  standard
test preparation course                    none
math score                                  100
reading score                               100
writing score                               100
dtype: object

In [133]:
# 16-	Determine the percentage of students who completed the test preparation course.
test_preparation_course = student_dataset[ student_dataset['test preparation course'] == 'completed']

In [134]:
# continue
test_preparation_course

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
1,female,group C,some college,standard,completed,69,90,88
6,female,group B,some college,standard,completed,88,95,92
8,male,group D,high school,free/reduced,completed,64,64,67
13,male,group A,some college,standard,completed,78,72,70
18,male,group C,master's degree,free/reduced,completed,46,42,46
...,...,...,...,...,...,...,...,...
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
995,female,group E,master's degree,standard,completed,88,99,95
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77

In [145]:
# 17-	Group students by their parental level of education and calculate the average writing score for each group.
parental_group = student_dataset.groupby('parental level of education')['writing score'].mean()

In [146]:
# continue
parental_group

parental level of education
associate's degree    69.896396
bachelor's degree     73.381356
high school           62.448980
master's degree       75.677966
some college          68.840708
some high school      64.888268
Name: writing score, dtype: float64

In [152]:
# 18-	Identify the student with the highest overall score (sum of math, reading, and writing scores).
highest_student_score = student_dataset['math score'].idxmax() and student_dataset['writing score'].idxmax() and student_dataset['reading score'].idxmax()

In [159]:
# 19-	Calculate the percentage of students who have a score above 90 in at least one subject.
student_dataset.loc[highest_student_score]

gender                                  female
race/ethnicity                         group D
parental level of education    master's degree
lunch                                 standard
test preparation course                   none
math score                                  87
reading score                              100
writing score                              100
Name: 106, dtype: object

In [163]:
student_above90 = student_dataset[ student_dataset['math score'] >= 90 ]

In [164]:
student_above90

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
2,female,group B,master's degree,standard,none,90,95,93
34,male,group E,some college,standard,none,97,87,82
104,male,group C,some college,standard,completed,98,86,90
114,female,group E,bachelor's degree,standard,completed,99,100,100
121,male,group B,associate's degree,standard,completed,91,89,92
149,male,group E,associate's degree,free/reduced,completed,100,100,93
165,female,group C,bachelor's degree,standard,completed,96,100,100
171,male,group E,some high school,standard,none,94,88,78
179,female,group D,some high school,standard,completed,97,100,100
233,male,group E,some high school,standard,none,92,87,78
263,female,group E,high school,standard,none,99,93,90
286,male,group E,associate's degree,standard,completed,97,82,88
299,male,group D,associate's degree,free/reduced,none,90,87,75
306,male,group E,some college,standard,completed,99,87,81
333,male,group B,associate's degree,standard,none,90,78,81
451,female,group E,some college,standard,none,100,92,97
458,female,group E,bachelor's degree,standard,none,100,100,100
469,male,group C,some college,standard,none,91,74,76
474,female,group B,associate's degree,standard,completed,90,90,91
501,female,group B,associate's degree,standard,completed,94,87,92
503,female,group E,associate's degree,standard,completed,95,89,92
521,female,group C,associate's degree,standard,none,91,86,84
539,male,group A,associate's degree,standard,completed,97,92,86
546,female,group A,some high school,standard,completed,92,100,97
562,male,group C,bachelor's degree,standard,completed,96,90,92
566,female,group E,bachelor's degree,free/reduced,completed,92,100,100
571,male,group A,bachelor's degree,standard,none,91,96,92
594,female,group C,bachelor's degree,standard,completed,92,100,99
612,male,group C,bachelor's degree,standard,completed,94,90,91
618,male,group D,master's degree,standard,none,95,81,84
623,male,group A,some college,standard,completed,100,96,86
625,male,group D,some college,standard,completed,100,97,99
659,male,group D,associate's degree,standard,none,90,87,85
685,female,group E,master's degree,standard,completed,94,99,100
689,male,group E,some college,free/reduced,none,93,90,83
710,male,group C,some college,standard,completed,93,84,90
712,female,group D,some college,standard,none,98,100,99
717,female,group C,associate's degree,standard,completed,96,96,99
719,male,group E,associate's degree,free/reduced,completed,91,73,80
736,male,group C,associate's degree,standard,none,92,79,84
779,male,group E,associate's degree,standard,completed,94,85,82
784,male,group C,bachelor's degree,standard,completed,91,81,79
808,male,group C,high school,standard,none,90,75,69
815,male,group B,some high school,standard,completed,94,86,87
845,male,group E,master's degree,standard,none,90,85,84
846,male,group C,master's degree,standard,completed,91,85,85
855,female,group B,bachelor's degree,standard,none,97,97,96
864,male,group C,associate's degree,standard,none,97,93,91
873,male,group E,associate's degree,free/reduced,none,90,90,82
886,female,group E,associate's degree,standard,completed,93,100,95
903,female,group D,bachelor's degree,free/reduced,completed,93,100,100
916,male,group E,bachelor's degree,standard,completed,100,100,100
919,male,group B,some college,standard,completed,91,96,91
934,male,group C,associate's degree,standard,completed,98,87,90
950,male,group E,high school,standard,none,94,73,71
957,female,group D,master's degree,standard,none,92,100,100
962,female,group E,associate's degree,standard,none,100,100,100
979,female,group C,associate's degree,standard,none,91,95,94

In [165]:
# 20-	Determine the correlation between math scores and writing scores.
correlations = student_dataset['math score'].corr(student_dataset['writing score'])

In [166]:
# continue
correlations

0.8026420459498085

In [175]:
# 21-	Find the race/ethnicity group with the highest average reading score.
race_ethnicity_group = student_dataset.groupby('race/ethnicity')['reading score'].mean()

In [176]:
# continue
race_ethnicity_group

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [180]:
# continue
race_ethnicity_group.idxmax()

'group E'

In [181]:
# 22	Calculate the percentage of female students who have a score above the average in all three subjects.
female_students = student_dataset[ student_dataset['gender'] == 'female']

In [184]:
# continue
female_students.describe()

       math score  reading score  writing score
count  518.000000     518.000000     518.000000
mean    63.633205      72.608108      72.467181
std     15.491453      14.378245      14.844842
min      0.000000      17.000000      10.000000
25%     54.000000      63.250000      64.000000
50%     65.000000      73.000000      74.000000
75%     74.000000      83.000000      82.000000
max    100.000000     100.000000     100.000000

In [193]:
# 23	Determine the number of students who have a score below 50 in all three subjects.
student_score_below50 = student_dataset[(student_dataset['math score'] <= 50 ) & ( student_dataset['writing score'] <= 50) & ( student_dataset['reading score'] <= 50 )]

In [194]:
student_score_below50

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
7,male,group B,some college,free/reduced,none,40,43,39
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
33,male,group D,some college,standard,none,40,42,38
55,female,group C,high school,free/reduced,none,33,41,43
...,...,...,...,...,...,...,...,...
902,female,group A,high school,free/reduced,completed,34,48,41
910,male,group D,bachelor's degree,free/reduced,none,50,42,48
928,male,group E,associate's degree,free/reduced,completed,46,43,44
980,female,group B,high school,free/reduced,none,8,24,23
988,female,group A,some high school,free/reduced,none,44,45,45