# pratical session

In [1]:
import pandas as pd

In [2]:
student_dataset = pd.read_csv('./StudentsPerformance.csv')

In [3]:
student_dataset

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [4]:
student_dataset.shape

(1000, 8)

In [5]:
type(student_dataset)

pandas.core.frame.DataFrame

In [9]:
type(student_dataset.columns)

pandas.core.indexes.base.Index

In [10]:
student_dataset.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [11]:
student_dataset.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [22]:
mean_math_score = student_dataset['math score']

In [23]:
mean_math_score.sum()/len(mean_math_score)

66.089

In [24]:
mean_reading_score = student_dataset['reading score']

In [25]:
mean_reading_score.sum()/len(mean_reading_score)

69.169

In [26]:
mean_writing_score = student_dataset['writing score']

In [27]:
mean_writing_score.sum()/len(mean_writing_score)

68.054

In [28]:
median_math_score = student_dataset['math score']

In [29]:
len(median_math_score)+1/2

1000.5

In [30]:
median_reading_score = student_dataset['reading score']

In [31]:
len(median_reading_score)+1/2

1000.5

In [32]:
median_writing_score = student_dataset['writing score']

In [33]:
len(median_writing_score)+1/2

1000.5

In [37]:
mode_student_dataset = student_dataset.mode()

In [38]:
mode_student_dataset

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some college,standard,none,65,72,74

In [49]:
max_math_scores = student_dataset['math score'].max()

In [50]:
min_math_scores = student_dataset['math score'].min()

In [55]:
range_math_scores = max_math_scores - min_math_scores

In [56]:
range_math_scores

100

In [57]:
max_reading_scores = student_dataset['reading score'].max()

In [58]:
min_reading_scores = student_dataset['reading score'].min()

In [59]:
range_reading_scores = max_reading_scores - min_reading_scores

In [60]:
range_reading_scores

83

In [61]:
max_writing_scores = student_dataset['writing score'].max()

In [62]:
min_writing_scores = student_dataset['writing score'].min()

In [63]:
range_writing_scores = max_writing_scores - min_writing_scores

In [64]:
range_writing_scores

90

In [65]:
std_math_scores = student_dataset['math score'].std()

In [66]:
std_math_scores

15.163080096009468

In [67]:
std_reading_scores = student_dataset['reading score'].std()

In [68]:
std_reading_scores

14.60019193725222

In [69]:
std_writing_scores = student_dataset['writing score'].std()

In [70]:
std_writing_scores

15.195657010869642

In [89]:
math_score = student_dataset['math score']

In [90]:
quartile_math_score = math_score.quantile([0.25,0.5,0.75])

In [95]:
q1 = quartile_math_score.loc[0.25]

In [96]:
q1

57.0

In [97]:
q2 = quartile_math_score.loc[0.5]

In [98]:
q2

66.0

In [99]:
q3 = quartile_math_score.loc[0.75]

In [100]:
q3

77.0

In [101]:
iqt = q3 - q1

In [102]:
iqt

20.0

In [103]:
lower_outlier_gate = q1-1.5*iqt

In [104]:
lower_outlier_gate

27.0

In [105]:
upper_outlier_gate = q3+1.5*iqt

In [106]:
upper_outlier_gate

107.0

In [107]:
student_dataset.isnull().sum().sum()

0

In [112]:
student_dataset.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [113]:
student_dataset.drop_duplicates()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86