# chapter 3 || Assignment two 


## MyProfile

   ####  ``Name`` : Abdikafi Isse Isak
   #### ``ID`` : C120868
   #### ``ClassNo`` : CA205

In [12]:
import pandas as pd # this line gives me to read any file the reason why is pandas. 

# pandas is the library package allows to read any file

# Movies.csv File

as you know we have ``movies.csv`` file, this movie files contains a lot of movies columns  name like  ``industry``, ``rating``, ``release_year``,  ``studio``, ``budget`` as expense, ``revenue``, ``unit``, ``currency``, ``language``.
``industry`` column indicates the company name that produce of the  movies, the ``title`` column indicates the name of the movies, the  ``release_year`` column indicates the year released of the movies,
the ``imdb_rating`` column indicates the rate of the every movie gets,
the ``studio`` column indicates the studio released after produce the movies, the ``budget`` column iindicates the expense takes of every movie,the ``revenue`` column indicates the revenue gets of every movie,the ``unit`` column indicates the currency unit gets of every movie like    thousands , millions and so on,
the ``currency`` column indicates the currency type gets of every movie,
the ``langauge`` column indicates the language translate of every movies or the original language released of every movies

In [9]:
movies_data = pd.read_csv('./movies.csv')

In [14]:
movies_data.head(10)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English
5,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,English
6,Interstellar,Hollywood,2014,8.6,Warner Bros. Pictures,165.0,701.8,Millions,USD,English
7,The Pursuit of Happyness,Hollywood,2006,8.0,Columbia Pictures,55.0,307.1,Millions,USD,English
8,Gladiator,Hollywood,2000,8.5,Universal Pictures,103.0,460.5,Millions,USD,English
9,Titanic,Hollywood,1997,7.9,Paramount Pictures,200.0,2202.0,Millions,USD,English

In [32]:
movies_data.describe()

       release_year  imdb_rating        budget        revenue
count     37.000000    36.000000     37.000000      37.000000
mean    2007.027027     7.919444   2084.975135    4117.135135
std       17.657995     1.204947  11477.487145   16372.462682
min     1946.000000     1.900000      1.000000       3.100000
25%     2001.000000     7.800000     15.500000     263.100000
50%     2014.000000     8.100000    165.000000     701.800000
75%     2018.000000     8.400000    250.000000    2000.000000
max     2022.000000     9.300000  70000.000000  100000.000000

In [44]:
mean_rating_movies = movies_data['imdb_rating'].mean()

In [46]:
print(f'The Mean Rating Movies : ${mean_rating_movies}')

The Mean Rating Movies : $7.919444444444445

In [50]:
mode_rating_movies = movies_data['imdb_rating'].mode().values[0]

In [51]:
print (f'The Mode Rating Movies : ${mode_rating_movies}')

The Mode Rating Movies : $0    8.4
Name: imdb_rating, dtype: float64